[submodule "Submodules/HexColors"]
	path = Submodules/HexColors
	url = https://github.com/mRs-/HexColors.git
[submodule "Submodules/FXBlurView"]
	path = Submodules/FXBlurView
	url = git@github.com:nicklockwood/FXBlurView.git
